<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="./img/weather-icon.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Get your weather details on this site :)</p>
            <form action="">
                <input type="text" name="" id="" placeholder="Location">
                <button>Search</button>
            </form>
            
            <p id="message-one"></p>
            <p id="message-two"></p>

            <script src="./js/app.js"></script>
        </div>
        {{>footer}}
    </body>
</html>